$reColor: rgb(123,50,0);

.LeftNav{
      height: 85vh !important;
      overflow: auto;
      padding-top: 10px;
      background-color: white;
      border-right: solid 0.5px #dad6d6;
      color: $reColor;
      .listIcon{
            padding-left: 45px;
            color: $reColor;
      }
}

.dashBoardBody{
      text-align: center;
}

.OrderButton{
      background-color: $reColor !important;
      color: white !important;
      padding: 10px !important;
      width: 80%;
      font-weight: bold !important; 
}