$reColor: rgb(123,50,0);

.LoginForm{
      height: 100vh;
      background-color:rgba(232,240,217,0.6);
      text-align: center;
      @media only screen and (max-width: 900px) {
            height: auto !important;
      }
}

.divider{
      width: 90%;
}

.SubmitButton{
      font-size: 16px;
      border-radius: 15px !important;
      border-style: none;
      font-weight: bold !important;
      text-transform: uppercase;
      background-color:$reColor !important;
      color: rgb(232,240,217) !important;
      @media only screen and (max-width: 900px) {
            margin-bottom: 10px !important;
      }
}

.row{
    margin-top: 20px !important;
}


.tabs{
      color: 'black' !important;
      font-size:12px;
}

.subTabs{
      &:focus{
            background-color: red;
      }

}

.NavBarSection{
      position: sticky !important;
      left: 0px !important;
      top: 0px !important;
}