$reColor: rgb(123,50,0);


.input-box{
    border-style: solid;
    border-width: 0.75px;
    border-color: $reColor;
    border-radius: 15px;
    height: 40px;
    width: 250px !important;
    font-size: 12px;
    padding-left : 30px;
    background-color:rgb(246, 250, 238);
    font-weight: bold;
    color: $reColor;
}

.otpInput{
    width: 10px !important;
    margin-right: 10px !important;
    padding : 0px 15px 0px 15px;
    font-size: 16px;
    margin-top: 20px;
}
.input-box:focus{
    outline: none;
}

.disableNavSticky{
    box-shadow: 0 0 0 0 !important;
    // background-color: hsla(50, 33%, 25%, 1.00) !important;  /* 100% transparent */
}

.navBar{
    // background-color: white !important;
    background-color: $reColor !important;
    color: white !important;
    border-bottom: solid 0.5px #dad6d6;
.navLogo{
        width: 200px;
        height: 80px;
        padding-left: 20px;
        padding-top: 5px;
        margin-top: 0px !important;
    }
}

.navLink{
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    a{
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    @media only screen and (max-width: 900px) {
        .navLink{
            width: 100%;
            text-align: center;
            a{
                width: 100%;
                text-align: center;
            }
        }
        .navRight{
            width: 100%;
        }

  }
}

.menuItem{
    min-width: 120px;
    font-size: 12px;
    margin-left: 12px;
    // font-weight: bold;
}

.navRight{
    margin-top: 5px;
    display: inline-block;
}

.Toast{
    top: 80px;
    position: fixed;
    left: 50%;
    z-index: 9999;
    display: none;
    border-radius: 5px;
    max-width: 320px;
    color: white;
    font-size: 12;
    padding: 15px;
    font-weight: bold;
    transform: translateX(-50%);
    -webkit-animation: toastFalling 0.25s ; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: toastFalling 0.25s ;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes toastFalling {
    0% {top: 0px;}
    100%   {top: 80px;}
  
  }
  
  @keyframes toastFalling {
    0% {top: 0px;}
    100%   {top: 80px;}
  }

.PrimaryButton{
    width: auto !important;
    padding: 10px !important;
    margin-right: 75px !important;
    background-color:$reColor !important;
}