body{
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("./images/bg-web.svg");
  background-position: center;
  background-size: cover;
}

*{
  font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}